{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "About" %}{% endblock %}

{% block body %}
    {% blocktrans %}
        <p>About <b>Re.nooble</b> ...</p>
        <p> We, Alvaro and Hannes, truely believe in renewable energies, especially in small scale renewable technologies. <br>
        We think that nations move too slow when it comes to realizing the climate targets on a national level, and we see many people moving on and installing their own systems in their backyards, on their roof-tops, on balcoonies, etc. We want to create a platform for the early adopters to spread their experiences and motivate others to join the energy movement and produce clean, sustainable, reliable and most important affortable renewable power. </p> 
        <p>
        <b> Alvaro </b>
        ... is a French-Spanish quantum physist, who devoted his time to promote renewable energies. He is passionate about energy questions and especially peak oil. Alvaro is a founder of re.nooble and a full-time re.nooblist. He devotes his main time to push forward the idea of re.nooble and realize the idea of re.nooble.<br>
        In the project, Alvaro is the chief strategist, chief developer, chief designer and ... all together; he is the pillar behind re.nooble.
        </p>
        <p>
        <b> Hannes </b>
        ... is a German electrical engineer, who believes that we should be generating energy more consious, local and at the real cost. Hannes is a founder of re.nooble and a part-time re.nooblist. During the day time, he works for "big business" in the energy sector. During the night time, he turns into a full time re.nooblist.<br>
        He devoted his latest times to the software philosophies of <a href="http://ww.djangoproject.org">Django</a> and <a href="http://www.pinax.org">Pinax</a>, so that re.nooble can take most use of the online tools. 
        </p>
    {% endblocktrans %}
    {% blocktrans %}
    <p> Re.nooble is further support by Javier, Timo and Srikanth by devoting their free time to support the idea of re.nooble. </p> 
    {% endblocktrans %}
    {% blocktrans %}
        We believe in open source developments and we draw out inspiration from Django, Pinax, and the Python community.
    {% endblocktrans %}
{% endblock %}
