{% extends "remap/base2.html" %}

{% load i18n %}

{% block head_title %}{% trans "Add a new project to ReMap" %}{% endblock %}

{% block body %}
{% blocktrans %}
<p>Please enter your project details to the <b>Re.nooble</b> database here:</p>
{% endblocktrans %}

<p>You have entered {{ country }}</p>

<form action="../confirm/" method="post">{% csrf_token %}
    <table>
        <td> </td>
        <td id="form_error"> here is an error
            {% if projectForm.projectName.errors %}
            {{ projectForm.projectName.errors|join:"<br>"}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td> <label for="id_projectName">Project Name </label></td>
        <td> {{ projectForm.projectName }} </td>
    </tr>
    <tr>
        <td> </td>
        <td id="helptext"> Helptext {{ projectForm.projectName.helptext}}</td>
    </tr>
</table>
<input type="submit" value="Submit" />
</form>

{% endblock %}
