{% extends "remap/base2.html" %} 

{% load i18n %}

{% block head_title %}{% trans "Add a new project to ReMap" %}{% endblock %}

{% block body %}
{% blocktrans %}
<p>Please enter your project details to the <b>Re.nooble</b> database here:</p>
{% endblocktrans %}

<p>You have entered<br>
Address: {{ session_results.address }} <br>
Latitude: {{ session_results.lat }} <br>
Longitude: {{ session_results.lng }} <br>
</p>
<div class="input">
<form action="" method="post">{% csrf_token %}
    <table>
        {% for field in projectForm %}
        <tr>
            <td> </td>
            <td id="form_error"> 
                {% if field.errors %}
                {{ field.errors|join:"<br>"}}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td> {{ field.label_tag }} </td>
            <td> {{ field }} </td>
        </tr>
        <tr>
            <td> </td>
            <td class="help_text"> {{ field.help_text}}</td>
        </tr>
        {% endfor %}

    </table>

    <p> Installation Details </p>
    {{ resourceForm.as_p }}
    <input type="submit" value="Register Project" />
</form>
</div>
{% endblock %}
