{% extends "base.html" %} 

{% load i18n %}
{% load analytics %}

{% block extra_head_base %}
<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/jquery.autocomplete.css" />
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block footer %}
<div class="legal">
    {% trans "&copy; 2010 &lt;Re.nooble&gt;" %}
    - <a href="{% url about %}">{% trans "About" %}</a>
    - <a href="{% url about %}">{% trans "Contact Us" %}</a>
    - <a href="{% url support_us %}">{% trans "Support Us" %}</a>
    - <a href="{% url about %}">{% trans "Sitemap" %}</a>
</div>
{% endblock %}

{% block extra_body_base %}
    {% ga %}
    <script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>
    {% block extra_body %}{% endblock %}
{% endblock %}
