{% extends "base.html" %} 

{% load i18n %}
{% load analytics %}

{% block extra_head_base %}
<!-- <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/jquery.autocomplete.css" />-->
    {% block extra_head %}{% endblock %}
{% endblock %}

{% comment %}
{% block right_tabs %}
    {% if user.is_authenticated %}
        <ul class="tabs">{% spaceless %}
            <li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Proggfile" %}</a></li>
            <li id="tab_remap"><a href="{% url add_project_location %}">{% trans "ReMap" %}</a></li>
            <!-- <li id="tab_photos"><a href="{% url photos %}">{% trans "Photos" %}</a></li>
            <li id="tab_blogs"><a href="{% url blog_list_all %}">{% trans "Blogs" %}</a></li>
        {% endspaceless %}</ul>
    {% endif %}
{% endblock %}
{% endcomment %}

{% block footer %}
<div class="legal">
    {% trans "&copy; 2010 &lt;Re.nooble&gt;" %}
    - <a href="{% url about %}">{% trans "About" %}</a>
    - <a href="{% url about %}">{% trans "Contact Us" %}</a>
    - <a href="{% url support_us %}">{% trans "Support Us" %}</a>
    - <a href="{% url about %}">{% trans "Sitemap" %}</a>
</div>
{% endblock %}

{% block extra_body_base %}
    {% ga %}
    <script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>
    {% block extra_body %}{% endblock %}
{% endblock %}
